# Ignore Virtual Environments
.venv/
.env/
venv/
env/

# Ignore Python cache files
**/__pycache__/
*.pyc

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Uploaded Files
backend/uploads/*

# Reports
backend/reports/*

# OS Files
.DS_Store
Thumbs.db